<div class="form">
  <div class="form__container">
    <img src="./assets/logochefgo.png" style="width: 25%; align-items: center;">
    <h1>Inicio de sesión</h1>
    <form [formGroup]="form" (ngSubmit)="logIn()">
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="isEmailValid as messsage">{{ messsage }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Ingrese su contrseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-flat-button color="accent" type="submit">Log in</button>
      </div>
    </form>
    <hr />
    <span class="small-text providers">Iniciar con Google o GitHub?</span>
    <app-button-providers [isLogin]="true" ></app-button-providers>/>
    <span class="small-text log-in-redirect"
      >No tienes una cuenta?
      <a routerLink="/loginauth/registro">Registrate</a></span
    >
  </div>
</div>
